body {
    margin: 0;
    font-family: Helvetica;
    background: #F0F8FF;
    color: #000080;
}
h1, h2 {
    font-family: Icon;
    color: #FFD700;
}
a {
    color: #00BFFF;
}
section {
    padding: 3rem;
}